#sidemenu{
    display: none;
    
}
.ceai-a{
    text-decoration: none;
    color: black;
    margin-top: 50px;
    margin-left: 35px;
}
.ceai-a:hover{
    color: black;
}
.ceai{
    color: red;
}
.side{
    margin-top: 50px;
}
.side li{
    list-style: none;
    padding: 5px;
    font-size: 13px;
}
.side li a{
    color: black;
   
}
.bold{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}
#orange{
    color: orangered;
}
#silver{
    color: silver;
}
.first{
    margin-top:100px;
}
.afiseaza-p{
    font-size:22px;
}
#compare{
    width: 200px;
    margin-left: 10px;
}
.slider-card a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.slider-card{
    text-align: center;
    margin-bottom: 100px;
    cursor: pointer;
    position: relative;
}
.slider-btn-nou{
    position: absolute;
    top:8px;
    left:80px;
}
.page-link{
    color: black;
}
#pag1 a{
    background-color: black;
    color: white;
    text-decoration: underline;
}
#pag2 a{
    background-color: rgb(233, 231, 231);
}
#pag1 a:hover{
    color: white;
    text-decoration: none;
}
#pag2 a:hover{
    color: black;
}
#feedback,.fixed-icons button,#mobile-row1,#mobile-row2,#mobile-side,#filtre,#drop-mobile{
    display: none;
}

@media screen and (max-width:1100px ){
    #side-col,#feedback,.fixed-icons button{
        display: none;
    }
   .first{
       margin-top: 250px;
       display: none;
   }
   #afiseaza-mobile{
       margin-top: 250px;
   }
   #drop-mobile{
       display:flex;
    margin-bottom: 30px;
   }
   #compare{
       background-color: white;
       color: black;
       border: 2px solid silver;
       border-radius: 5px;
       
   }
   #filtre{
       background-color: black;
       color: white;
       border: 2px solid black;
       border-radius: 5px;
       padding:5px 5px 5px 50px;
       width:170px;
       display: flex;
       flex-direction: row;
       text-align: center;
       
   }
   .bold{
       font-size: 15px;
       background-color: rgb(228, 225, 225);
       margin-top: 5px;
   }
   .d-flex{
       margin-left: 0;
       padding: 0;
   }
   #mobile-row1,#mobile-row2{
       display:flex;
       flex-direction: row;
    }
   #mobile-side{
       top:-520px;
       right:-120px;
       position:relative;
       background-color: white;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       height: 700px;
       padding: 0;
       display: none;
       width:0;
       font-size: 12px;
   }
   #close-filtre{
       background-color: black;
       color: white;
       font-size: 20px;
       padding:10px 30px;
      
   }
   #mobile-side li{
       list-style: none;
       padding-left: 20px;
   }
   #mobile-side li a{
       color: black;
   }
}
